In [ ]:
# 6월 10일 
# 오전 list/tuple / 딕셔너리 
# 오후  set~

In [ ]:
# set (집합)
# 중복, 순서 x , 집합 연산 사용
# 순서가 필요하면 list, tuple 중 하나로 형 변환 필요

In [1]:
s_1 = set([1,2,3,4,1,2,5])
s_1

{1, 2, 3, 4, 5}

In [2]:
set_2 = set('hello')
set_2

{'e', 'h', 'l', 'o'}

In [3]:
list_1=list(s_1)
print(list_1)

[1, 2, 3, 4, 5]

In [9]:
set_2=set([1,2,3,4,5,6])
set_3 = set([4,5,6,7,8,9])

In [ ]:
print(set_2 & set_3) # 교집합 / 겹치는 것
print(set_2 | set_3) # 합집합 / 겹겹치지 않는 것
print(set_2 - set_3) # 차집합 / 겹치는 것 빼기

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [12]:
#set 에서 데이터 추가(중복 데이터 입력 x) 삭제

In [13]:
set_2.add(7)

In [14]:
set_2

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# remove() - 특정 값 제거하기
set_2.remove(7)

In [ ]:
# update() - 값 여러개 추가하기
set_2.update([1, 1, 3, 4 ,7, 8]) 
set_2

{1, 2, 3, 4, 5, 6, 7, 8}

------------------------ 
basic 1 끝
basic 2 시작
------------------------

In [ ]:
# if 조건문건문: 분기 -> ~라면, 아니라면
# 들여쓰기 tab 중요
# ex) 성인이라면, 성인이 아닌라면

age = 15
if age >= 18:
    print('환영합니다.')
    print('게임을 시작하세요')
else:
    print('킥~')

킥~

In [ ]:
# 코딩해보기 1번번
# 홀수 짝수 판단하기 => 숫자 % 2 : 1 홀수, : 0 짝수

num = 12
if num % 2 == 0:
    print("짝수")
else:
    print("홀수 ")

짝수

In [ ]:
# 코딩해보기 2번번
# + 양수, - 음수, 0 판단하기

num1 = 0
if num1 > 0:
    print("양수입니다. ")
elif num1 < 0:
    print("음수입니다.")
else:
    print("0 입니다.")

0 입니다.

In [10]:
# 운전면허 시험

score = 85
check_msg = "PASS" if score >= 80 else 'FAIL'
print(check_msg)

PASS

In [11]:
score = 55
check_msg = 'PASS'
if score < 80:
    check_msg  = 'FAIL'
print(check_msg)

FAIL

In [13]:
# 표준 출력 함수 => print()
# 표준 입력 함수 => input()

user_name = input()
print(user_name,type(user_name))

이주영 <class 'str'>

In [21]:
# 코딩해보기 3번

age = int(input("나이를 입력하세요"))
msg = "무료 예방접종이 가능합니다."

if age < 15 or age >= 65:
    print(msg)
else :
    msg = "무료 예방접종이 불가능합니다."
    print(msg)

무료 예방접종이 불가능합니다.

In [ ]:
# while ~ break 반복문
# 조건식을 통해서 반복 -> 탈출이 가능해야 한다.

In [31]:
#1~10 중 홀수만 출력

cnt = 0
while cnt < 11:
    cnt += 1

    if cnt% 2 ==1:
        print(cnt)

1
3
5
7
9
11

In [36]:
cnt = 0
while cnt <10:
    cnt += 1

    if cnt % 2 ==0:
        continue
    print(cnt)

1
3
5
7
9

In [38]:
list_a = [1,2,3,4,5,100,200,300]

In [39]:
for i in list_a:
    print(i)

1
2
3
4
5
100
200
300

In [43]:
list_b = [(1,2),(3,4),(5,6)]

In [44]:
for n1, n2 in list_b:
    print(n1,n2)

1 2
3 4
5 6

In [54]:
# 5명의 학생이 영어 시험 => 60점 이상 pass 출력
# 5명의 영어점수 총점, 평균값

scores = [80,50,70,100,55]
num = 0 #학생들의 일련번호
sum = 0 #총점
agv = 0 #평균



for score in scores:
    num += 1

    if score >= 60:
        print(num, score, 'pass')
    else:
        print(num, score, 'fail')

    sum += score
print("총점 : ",sum)

agv = sum/len(scores)
print("평균 : ",agv)

1 80 pass
2 50 fail
3 70 pass
4 100 pass
5 55 fail
총점 :  355
평균 :  71.0

In [60]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [62]:
for i in range(1,10):
    for j in range(1,11):
        print(i*j, end=" ")
    print('')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90

In [70]:

for i in range(1,11):
    print(f'{i} 단')
    for j in range(1,11):
        print(f'{i}x{j}={i*j}' )

1 단
1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
1x10=10
2 단
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
3 단
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
4 단
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
5 단
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50
6 단
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60
7 단
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70
8 단
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80
9 단
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90
10 단
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [71]:
list_2 = [1,2,3,4]

list_result = []
for num in list_2:
    list_result.append(num*3)

print(list_result)

[3, 6, 9, 12]

In [72]:
list_result_1 = [num*3 for num in list_2]
print(list_result_1)

[3, 6, 9, 12]

In [74]:
list_result_2 = [num*3 for num in list_2 if num%2 == 1]
print(list_result_2)

[3, 9]

In [ ]:
# 코딩해보기 1번
# 1 부터 100까지의 합을 구하기
s = 0
for i in range(1,101):
    s += i
print(s)

5050

In [11]:
#코딩해보기 2번
# for문을 이용하여 1 부터 10까지 곱한 결과를 출력

s = 1
for i in range(1,11):
    s *= i
print(s)

3628800

In [12]:
# 코딩해보기 3번
# 구구단 짝수 단 출력

for i in range(2,9):
    if i %2 == 1:
        continue
    print(f'{i}단')

    for j in range(1,i+1):
        print(f'{i }X{ j} = {i*j}')
    print('\n')

2단
2X1 = 2
2X2 = 4


4단
4X1 = 4
4X2 = 8
4X3 = 12
4X4 = 16


6단
6X1 = 6
6X2 = 12
6X3 = 18
6X4 = 24
6X5 = 30
6X6 = 36


8단
8X1 = 8
8X2 = 16
8X3 = 24
8X4 = 32
8X5 = 40
8X6 = 48
8X7 = 56
8X8 = 64

In [10]:
# 코딩해보기 4번

year = int(input("태어난 년도를 입력하세요."))
age = 2025-year -1

msg = '검사대상' if (year % 2 == 0 and age>=20) or age >=40 else "검사대상 아님"
print(msg)

검사대상 아님