In [1]:
# while 문의 무한루프
# 1부터 시작해서 모든 짝수와 3의 배수를 더해서
# 그합이 언제 1000을 넘어서는지
# 1000 넘어선 값은 얼만인지

n=1
s=0

while True:
    if n % 2 == 0 or n%3==0:
        s += n
    if s>1000:
        break
    n+=1
print(f'{n}이 추가되었을 때 1000을 넘어갑니다. 1000을 넘긴 최초 값은 {s}입니다.')

56이 추가되었을 때 1000을 넘어갑니다. 1000을 넘긴 최초 값은 1055입니다.

In [ ]:
# 함수 : 데이터를 받고 처리(연산)하고 결과를 반환하는 코드들의 묶음
#        -> 호출을 통해 코드를 실행
# 중복코드를 줄일 수 있다.-> 유지보수, 관리가 수월해진다.!
# def 함수이름(매개변수, 매개변수, ....)
#        처리작업 코드들...
#       return 값(data : 파이썬에서 제공하는 타입의 모든 데이터)

함수정의
숫자 두개를 받아 => 매개변수
덧셈연산을 하고 => 내부 처리 작업
결과 값을 반환 => 반환 값

In [ ]:
def add(n1,n2) :    #함수 정의 : 이름, 매개변수
    result = n1 + n2    #연산, 처리, 작업
    return result       # 결과 값 반환

In [ ]:
add(10,20) # 호출 : 이름과 괄호()안에 매개변수가 받을 수 있는 데이터를 함께 전달

30

In [5]:
print(type(add))

<class 'function'>

In [6]:
# 매개변수가 없는 함수
def alert_msg():
    #...
    return '안녕하세요. 회원님. 감사합니다.'

In [7]:
alert_msg()

'안녕하세요. 회원님. 감사합니다.'

In [14]:
# 매개변수는 있고, 반환값이 없는 함수
# 숫자 두개를 받아 덧셈연산의 결과를 출력하는 함수
def add_print(n1,n2):
    result = n1+n2
    print(f'{n1}+{n2}={result}')

In [16]:
add_print(100,200)

100+200=300

In [15]:
result_add_print=add_print(10,200)

10+200=210

In [20]:
# 매개변수도 없고, 반환도 없는 함수
def display_menu():
    menu='''
1. 아메리카노
2. 라떼
3. 에스츠레소
'''
    print(menu)

In [22]:
display_menu()

1. 아메리카노
2. 라떼
3. 에스츠레소

In [23]:
def add_sum(*args):
    print(type(args))
    print(args)
    sum = 0
    for num in args:
        sum +=num
    return sum

In [25]:
add_sum(1,2,3,4,5,6,7,8,9,10)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

55

In [27]:
#연산의 타입을 전달 받고 전달되는 숫자들을
# 연산한 결과를
# 반환하는 함수

def add_type(type, *args):
    # add, mul
    if type == 'add':
        result = 0
        for num in args:
            result += num
        return result
    else:
        print("사용 가능한 타입을 입력해주세요!")

In [28]:
def print_args(**args):
    print(args)
    print(type(args))

In [29]:
print_args(name='손흥민', age = 20)

{'name': '손흥민', 'age': 20}
<class 'dict'>

In [ ]:
player1= {
    'name':'손흥민'
    'age': 20
}

In [30]:
def add_mul_return(n1,n2):
    add_result = n1+n2
    mul_result = n1*n2
    return(add_result, mul_result)

In [31]:
result1, result2 = add_mul_return(10,20)
print(result1, result2)

30 200

In [33]:
def add2(n1=0,n2=0):
    return n1+n2

In [34]:
add2(1)

1

In [35]:
# 이름, 나이, 성별 받아서 출력 함수
def say_hi(name, age, gender = True): #Gender = True > 여성
    print(f'안녕하세요. 저는 {name}입니다. 나이는{age}입니다.')
    if gender :
        print("여성입니다.")
    else: 
        print("남성입니다.")

In [38]:
say_hi('king',20,False)

안녕하세요. 저는 king입니다. 나이는20입니다.
남성입니다.

In [48]:
a=1
def var_test2():
    global a
    a = a + 1
    print(a)

In [49]:
var_test2()

2

In [50]:
# lambda 함수 > 한줄로 간단학 표현하는 함수 표현식
# 함수이름 > lambda arg1, arg2 ... : 연산
# 숫자 두개를 전달받아 덧셈한 결과를 반환하는 함수
add3 = lambda n1,n2 : n1+n2

In [51]:
add3(100,10)

110

In [53]:
# 내장함수 : 파이썬 설치 > 기본으로 제공하는 함수

st_names = ['king','cool','hot','scott']

In [55]:
# 학생들의 index값을 함께 출력
num = 0
for name in st_names:
    print(num,name)
    num +=1

0 king
1 cool
2 hot
3 scott

In [56]:
for index, name in enumerate(st_names, start= 10):
    print(index, name)

10 king
11 cool
12 hot
13 scott

In [57]:
# filter : 필터링 (매개변수로 전달되는 함수 : 요소값을 판단해서 논리값으로 반환)을 통해 새로운 리스트를 생성반환
# filter(fn,itr)
def positive(l) :
    result = []
    for n in l :
        if n > 0:
            result.append(n)
    return result

In [59]:
positive([3,1,-1,-3,0,9,10,4])

[3, 1, 9, 10, 4]

In [60]:
#filter
#판별함수
def positive_fn(x):
    return x>0

In [62]:
def pos_fn2(x):
    return x%2 == 1

In [68]:
list(filter(lambda x : x>0 , [3,1,-1,-3,0,9,10,4]))
list(filter(lambda x : x%2==1 , [3,1,-1,-3,0,9,10,4]))
list(map(lambda x:x*10, [1,2,3,4,5]))

[10, 20, 30, 40, 50]

In [1]:
# 파이썬의 입출력(쟈원)
# 표준 입출력 > input, print
# 텍스트 파일(자원) : 입출력 I/O
# 파일 단위 입출력 : open(자원의 경로, 모드)모드 > r,w,a
f = open('new_test.txt','w')
f.close()

In [4]:
f =open('new_test.txt','w') # 파일 오픈 w
f.write('안녕하세요') # 텍스트 쓰기
f.close()

In [6]:
f = open('new_test.txt','w')
for i in range(1,11):
    f.write(f'{i}번째 줄 입력 \n')
f.close()

In [23]:
#파일 내용 읽어오기
f = open('new_test.txt','r')
while True: 
    line = f.readline()
    print(line)
    if not line:
        break
    
    
f.close()

1번째 줄 입력

2번째 줄 입력

3번째 줄 입력

4번째 줄 입력

5번째 줄 입력

6번째 줄 입력

7번째 줄 입력

8번째 줄 입력

9번째 줄 입력

10번째 줄 입력

새로운 행이 추가됩니다.

새로운 행이 추가됩니다.

새로운 행이 추가됩니다.

새로운 행이 추가됩니다.

새로운 행이 추가됩니다.

새로운 행이 추가됩니다.

새로운 행이 추가됩니다.

In [22]:
f = open('new_test.txt','r')
lines=f.readlines()
print(lines)
f.close()

['1번째 줄 입력 \n', '2번째 줄 입력 \n', '3번째 줄 입력 \n', '4번째 줄 입력 \n', '5번째 줄 입력 \n', '6번째 줄 입력 \n', '7번째 줄 입력 \n', '8번째 줄 입력 \n', '9번째 줄 입력 \n', '10번째 줄 입력 \n', '새로운 행이 추가됩니다.\n', '새로운 행이 추가됩니다.\n', '새로운 행이 추가됩니다.\n', '새로운 행이 추가됩니다.\n', '새로운 행이 추가됩니다.\n', '새로운 행이 추가됩니다.\n', '새로운 행이 추가됩니다.\n']

In [18]:
# 데이터 추가 append
f = open('new_test.txt','a')
f.write('새로운 행이 추가됩니다.\n')
f.close()

In [21]:
# 데이터 추가 append
f = open('new_test.txt','a')
for i in range(16,21):
    f.write('새로운 행이 추가됩니다.\n')
f.close()

In [24]:
# 예외처리 : 에러 발생시에 비정상적인 종료 막기 위한 처리
try :
    print(10/0)
except:
    pass
print("프로그램을 종료합니다.")

프로그램을 종료합니다.

In [28]:
try:
    age =  int(input("나이를 입력하세요"))
except:
    print("숫자로 입력하세요 ")
else:
    if age > 18:
        print("입장")
    else:
        print("불가")

불가

In [ ]:
# 사용자 정의 예외 타입 정의
# 논리적인 오류 방생 > 예외로 처리
# age > 음수, 500 : 논리적 오류

class MyError(Exception):
    pass

In [32]:
# 에러 강제 발생
try:
    age = int(input("나이를 입력하세요"))
    if age <1 or age>200:
        raise MyError()
except MyError:
    print("나이의 입력 범위는 1~200입니다. \n 다시입력하세요")
except:
    print("다시 입력하세요")
else:
    print(age)

NameError: name 'MyError' is not defined

In [ ]:
pip install numpy

: