In [4]:
import pandas as pd

In [5]:
data = pd.DataFrame({'Original': [1, 4, 16, 36, 100, 1000, 10000]})

In [7]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder

In [16]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
data = pd.DataFrame({'Fruits': ['사과', '배', '포도', '사과', '포도']})
data1 = pd.DataFrame({'Original': [50,80,90,100,160]})
data2 = pd.DataFrame({'Fruits': ['사과', '배', '포도', '사과', '포도']})

In [ ]:
#표준화
scaler_1 = StandardScaler()
data['scale_1'] = scaler_1.fit_transform(data1['original'])


scaler_2 = MinMaxScaler()
data1['scale_2'] = scaler_2.fit_transform(data1['Original'])

KeyError: 'original'

In [24]:
# 레이블 인코딩
encoder_1 = LabelEncoder()
data2['label encoding'] = encoder_1.fit_transform(data2['Fruits'])

In [23]:
data2

  Fruits  label encoding
0     사과               1
1      배               0
2     포도               2
3     사과               1
4     포도               2

In [29]:
encoder_2 = OneHotEncoder(sparse_output=False)
onehot_oncoded = encoder_2.fit_transform(data2[['label encoding']])

In [ ]:
data2

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5 stored elements and shape (5, 3)>

In [30]:
onehot_col = encoder_2.get_feature_names_out()
print(onehot_col)

['label encoding_0' 'label encoding_1' 'label encoding_2']

In [31]:
onehot_df = pd.DataFrame(onehot_oncoded, columns=onehot_col)

In [32]:
onehot_df

   label encoding_0  label encoding_1  label encoding_2
0               0.0               1.0               0.0
1               1.0               0.0               0.0
2               0.0               0.0               1.0
3               0.0               1.0               0.0
4               0.0               0.0               1.0

In [33]:
dagta2 = pd.concat([data2, onehot_df], axis=1)

In [34]:
data2

  Fruits  label encoding
0     사과               1
1      배               0
2     포도               2
3     사과               1
4     포도               2